<actionOverride>
    <actionName>{{ action_name }}</actionName>
    {% if comment is defined and comment !='' and comment != 'null' %}
    <comment>{{ comment }}</comment>
    {% endif %}
    {% if content is defined and content !='' and content != 'null' %}
    <content>{{ content }}</content>
    {% endif %}
    {% if form_factor is defined and form_factor !='' and form_factor != 'null' %}
    <formFactor>{{ form_factor }}</formFactor>
    {% endif %}
    <type>{{ type }}</type>
    {% if skip_recordtype_select is defined and skip_recordtype_select !='' and skip_recordtype_select != 'null' %}
    <skipRecordTypeSelect> {{ skip_recordtype_select }}</skipRecordTypeSelect>
    {% endif %}
</actionOverride>